/* CSS para o comportamento do overflow e o design do scrollbar personalizado */

/* Em telas menores que 'md', o overflow é ocultado */
.custom_scroll_container {
  overflow: hidden;
  /* Em telas menores, o scroll é oculto */
  width: 100%;
  height: 840px;
  margin: auto;

}

/* Em telas médias ou maiores, o overflow e o scroll personalizado são ativados */
@media (min-width: 768px) {
  .custom_scroll_container {
    overflow-y: auto;
    margin-right: 0.1rem;
    display: flex;
    
    /* Ativa o scroll apenas em telas médias ou maiores */
  }

  .custom_scroll_container::-webkit-scrollbar {
    width: 18px;
    height: 8px;
  }

  .custom_scroll_container::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 0 14px 20px rgba(0, 0, 0, 0.6), inset 0 -4px 6px rgba(0, 0, 0, 0.1);
  }

  .custom_scroll_container::-webkit-scrollbar-thumb {
    background-color: #222;
    border-radius: 10px;
    border-top: 2px solid transparent;
    background-clip: content-box;
  }

  .custom_scroll_container::-webkit-scrollbar-thumb:hover {
    background-color: #aadd49;
  }
}

.custom_scroll_modal {
  overflow-y: auto;
  /* Ativa o scroll apenas em telas médias ou maiores */
  height: 100%;
  transform: translateX(8px);
}

.custom_scroll_modal::-webkit-scrollbar {
  width: 18px;
  height: 8px;
}

.custom_scroll_modal::-webkit-scrollbar-track {
  background: transparent;
}

.custom_scroll_modal::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom_scroll_modal::-webkit-scrollbar-thumb:hover {
  background-color: #aadd49;
}


.postsModal {
  position: relative;
  background-color: #000000;
  max-width: 600px;
  width: 100%;
  padding: 1.25rem;
  padding-top: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 90vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.postsModal::-webkit-scrollbar {
  width: 18px;
  height: 8px;
}

.postsModal::-webkit-scrollbar-track {
  background: transparent;
}

.postsModal::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.postsModal::-webkit-scrollbar-thumb:hover {
  background-color: #aadd49;
}
