@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  overflow-y: auto;
}

html::-webkit-scrollbar {
  width: 18px !important;
}

html::-webkit-scrollbar-track {
  background: #1a1a1a;
}

html::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #aadd49;
}




@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html,
body {

  margin: 0;
  padding: 0;
  width: 100%;

  background: #000000;
  color: #ffffff;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Texto com efeito de máscara */
.bg-clip-text-musician {
  background-image: url('../photos/me-w-guitar.jpg');
  /* ou use uma cor gradiente */
  background-clip: text;
  -webkit-background-clip: text;
  /* Suporte para WebKit */
  color: transparent;
  /* Torna o texto transparente */
  background-size: cover;
  /* Ajusta a imagem para cobrir o texto */
  background-position: center;
  /* Centraliza a imagem */
  background-attachment: fixed;
  /* Mantém a imagem fixa no scroll */
}

.bg-clip-text-traveller {
  background-image: url('../photos/edinburgh.jpg');
  /* ou use uma cor gradiente */
  background-clip: text;
  -webkit-background-clip: text;
  /* Suporte para WebKit */
  color: transparent;
  /* Torna o texto transparente */
  background-size: cover;
  /* Ajusta a imagem para cobrir o texto */
  background-position: center;
  /* Centraliza a imagem */
  background-attachment: fixed;
  /* Mantém a imagem fixa no scroll */
}

.bg-clip-text-architect {
  background-image: url('../photos/architect-mobile.jpg');
  /* ou use uma cor gradiente */
  background-clip: text;
  -webkit-background-clip: text;
  /* Suporte para WebKit */
  color: transparent;
  /* Torna o texto transparente */
  background-size: cover;
  /* Ajusta a imagem para cobrir o texto */
  background-position: center;
  /* Centraliza a imagem */
  background-attachment: fixed;
  /* Mantém a imagem fixa no scroll */
}

@media (min-width: 700px) {

  .bg-clip-text-architect   {
    background-image: url('../photos/architect.jpg') !important;
  }
  div.bg-clip-text-bar-architect {
    background-image: url('../photos/architect.jpg') !important;
  }
  div.bg-clip-text-bar-architect::before {
    background-image: url('../photos/architect.jpg') !important;
  }
}

.video-container {
  position: relative;
  width: 100%;
  /* O vídeo ocupará toda a largura disponível */
  padding-top: 56.25%;
  /* Proporção de 16:9 (altura/width = 9/16 = 0.5625) */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* O vídeo ocupará 100% da largura da div */
  height: 100%;
  /* A altura será ajustada automaticamente para manter a proporção */
}

.skill.visible {
  opacity: 1 !important;
  /* Altera a opacidade para visível */
  transform: translateY(0) !important;
  /* Faz o item aparecer com o efeito de subida */
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* bg-clip-text-bar-musician: ajuste proporcional */
.bg-clip-text-bar-musician {
  position: relative;
  background-image: url('../photos/me-w-guitar.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bg-musician-h {
  height: 270px;
  /* Altura padrão */
  min-height: 8px;
}

@media (min-width: 400px) {

  /* A partir da largura 'sm' (640px ou maior) */
  .bg-musician-h {
    height: calc(39vh - 28vw);
    /* Aplica o cálculo apenas para telas sm ou maiores */
  }
}

.bg-clip-text-bar-musician::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../photos/me-w-guitar.jpg');
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* bg-clip-text-bar-traveller: ajuste proporcional */
.bg-clip-text-bar-traveller {
  position: relative;
  background-image: url('../photos/edinburgh.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bg-traveller-h {
  height: 200px;
  /* Altura padrão */
  min-height: 8px;
}

@media (min-width: 400px) {

  /* A partir da largura 'sm' (640px ou maior) */
  .bg-traveller-h {
    height: calc(25vh - 20vw);
    /* Aplica o cálculo apenas para telas sm ou maiores */
  }
}

.bg-clip-text-bar-traveller::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../photos/edinburgh.jpg');
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}



.bg-architect-h {
  height: 200px;
  /* Altura padrão */
  min-height: 8px;
}

@media (min-width: 400px) {

  /* A partir da largura 'sm' (640px ou maior) */
  .bg-architect-h {
    height: calc(35vh - 30vw);
    /* Aplica o cálculo apenas para telas sm ou maiores */
  }
}

/* Architect */
.bg-clip-text-bar-architect {
  position: relative;
  background-image: url('../photos/architect-mobile.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.bg-clip-text-bar-architect::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../photos/architect-mobile.jpg');
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}



.transition-all {
  transition: all 0.3s ease-in-out;
}

@layer utilities {
  .text-glow {
    @apply text-white;
    /* Cor do texto */
    transition: text-shadow 0.3s ease-in-out;
  }

  .text-glow:hover {
    text-shadow: 0 0 5px #aad49e, 0 0 10px #aad49e, 0 0 15px #aad49e;
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 5s linear infinite;
}

#skillsText {
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
}

#skillsText.visible {
  opacity: 1 !important;
}