@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html, body {
  background: #303446; /* Gradiente de cima para baixo */
  color: #ffffff;
  scroll-behavior: smooth;
}

/* Texto com efeito de máscara */
.bg-clip-text {
  background-image: url('../photos/me-w-guitar.jpg'); /* ou use uma cor gradiente */
  background-clip: text;
  -webkit-background-clip: text; /* Suporte para WebKit */
  color: transparent; /* Torna o texto transparente */
  background-size: cover; /* Ajusta a imagem para cobrir o texto */
  background-position: center; /* Centraliza a imagem */
  background-attachment: fixed; /* Mantém a imagem fixa no scroll */
}

.video-container {
  position: relative;
  width: 100%; /* O vídeo ocupará toda a largura disponível */
  padding-top: 56.25%; /* Proporção de 16:9 (altura/width = 9/16 = 0.5625) */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* O vídeo ocupará 100% da largura da div */
  height: 100%; /* A altura será ajustada automaticamente para manter a proporção */
}